<div class="checkin">
  <% @confirmation %>
  <span>Thank you for verifying your account information. Please complete your comfirmation by <%= link_to "clicking here" %></span>
  <!-- YOU HAVE SUCCESSFULLY CHECKED IN FOR YOUR APPOINTMENT WITH __DOCTOR__ ON __DATE__ AT __TIME__ AT __LOCATION__</span> -->
</div>