<div class="checkin">
  <img src="../assets/green_check.png" alt="checkmark"/>
  <br>
  <span>YOU HAVE SUCCESSFULLY CHECKED IN FOR YOUR APPOINTMENT WITH __DOCTOR__ ON __DATE__ AT __TIME__ AT __LOCATION__</span>
</div>

