<div class="top-bar">
  <!-- <img src="../assets/carecloud_logo.png" alt="Care Cloud Logo"/> -->
</div>

<div class="appointments">

  <h2>UPCOMING APPOINTMENTS</h2>
  <% @appointments.each do |app| %>
    <label for="date">Date: </label>
    <%= Date.parse(app["start_time"]).to_s %>
    <br>
    <label for="time">Time: </label>
    <%= Time.parse(app["start_time"]).to_s %>
    <br>
    <label for="doctor">Doctor: </label>
    <br>
    <div class="appointment-buttons">
      <%= button_to "Confirm", update_personal_path(id: app["id"]) %>
      <% if Date.tomorrow > Date.parse(app["start_time"]) && Date.yesterday < Date.parse(app["start_time"]) && app["appointment_status"]["code"] == "P" %>
        <%= button_to "Check In" %>
      <% end %>
    </div>
    <br><br>
  <% end %>


</div>