<body class='payment-body'>
  <div class="payment">
    <span>YOU HAVE A CURRENT BALANCE OF:</span>
    <br>
    <label id='total-balance' for="balance">$123.45</label>
    <br>
  </div>


  <div class="payment-options">
    <select>
      <option value="card-one">VISA XXXX-XXXX-XXXX-1234</option>
      <option value="card-two">MC XXXX-XXXX-XXXX-1234</option>
    </select>
    <br>
    <a href="checkin_success.html"><input type="button" value="PAY TOTAL"></a>
    <br>
    <a href="checkin_success.html"><input type="button" value="PAY CO-PAY"></a>
    <br>
    <a href="checkin_success.html"><input type="button" value="PAY OTHER AMOUNT"></a>
    <br>
    <a href="checkin_frontdesk.html"><input type="button" value="PAY AT FRONT DESK"></a>
  </div>
</body>
