<!-- <<<<<<< HEAD
<div class="update-personal">
</div>
<div class="payment">
  <span>Pay your Current Balance of $<%#= @balance %></span>
  <br>
  <label for="balance"></label>
  <span>or pay current copay of $25.00<%#= @copay %></span>
  <br>
</div>
<div class="payment-options">
  <a href="checkin_success.html" class="update-personal"><label for="credit-card">Pay Current Balance with Master Card ending in 1234</label></a>
  <br>
  <a href="checkin_success.html" class="update-personal"><label for="credit-card">Pay Copay with Master Card ending in 1234</label></a>
  <br>
  <a href="checkin_frontdesk.html"><input type="button" value="DO NOT PAY"></a>
</div>
======= -->
<body class='payment-body'>
  <div class="payment">
    <span>YOU HAVE A CURRENT BALANCE OF:</span>
    <br>
    <label id='total-balance' for="balance">$<%= @balance %></label>
    <br>
  </div>


  <div class="payment-options">
    <select>
      <option value="card-one">VISA XXXX-XXXX-XXXX-1234</option>
      <option value="card-two">MC XXXX-XXXX-XXXX-1234</option>
    </select>
    <br>
    <a href="checkin_success.html"><input type="button" value="PAY TOTAL"></a>
    <br>
    <a href="checkin_success.html"><input type="button" value="PAY CO-PAY"></a>
    <br>
    <a href="checkin_success.html"><input type="button" value="PAY OTHER AMOUNT"></a>
    <br>
    <a href="checkin_frontdesk.html"><input type="button" value="PAY AT FRONT DESK"></a>
  </div>
</body>
<!-- >>>>>>> c9b39b14a6d8e86f4ba4e15193c36a40b32142b5 -->
